@using ivNet.Webstore.ViewModels
@{
    var login = (LoginVM)Model.Login;
}



    @Html.ValidationSummary()

    @using (Html.BeginFormAntiForgeryPost(Url.Action("Login", "Checkout", new { area = "ivNet.Webstore" })))
    {

        <article class="shoppingcart">
            <div id="customer-login-form">
                <h2>@T("Returning customer")</h2>
                <p>@T("Please login using the form below")</p>
                <table>
                    <tbody>
                        <tr>
                            <td>@Html.EditorFor(m => login.Email)</td>
                        </tr>
                        <tr>
                            <td>@Html.EditorFor(m => login.Password)</td>
                        </tr>
                    </tbody>
                </table>

                <fieldset>
                    <ul>
                        <li>@Html.EditorFor(m => login.CreatePersistentCookie)</li>
                    </ul>
                </fieldset>

                <footer class="group commands">
                    <ul>
                        <li class="align left"><a href="@Url.Action("Index", "ShoppingCart", new { area = "ivNet.Webstore" })">@T("Cancel")</a></li>
                        <li class="align right"><button type="submit">@T("Login ")</button></li>
                    </ul>
                </footer>
            </div>
</article>
    }
