@model ivNet.Webstore.ViewModels.AddressVM

<fieldset>
    <legend>@ViewData.ModelMetadata.GetDisplayName()</legend>
    <table>
        <tbody>
            <tr>
                <td>Name</td>
                <td>@Html.EditorFor(m => m.Name)</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>@Html.EditorFor(m => m.AddressLine1)</td>
            </tr>
            <tr>
                <td/>
                <td>@Html.EditorFor(m => m.AddressLine2)</td>
            </tr>
            <tr>
                <td>Post Code</td>
                <td>@Html.EditorFor(m => m.Zipcode)</td>
            </tr>
            <tr>
                <td>Town/City</td>
                <td>@Html.EditorFor(m => m.City)</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>@Html.EditorFor(m => m.Country)</td>
            </tr>
        </tbody>
    </table>
  
</fieldset>